body {
    width:100%;
    height:100%;
    padding-bottom: 150px;
    color: rgba(255,255,255,0.9);
    background: linear-gradient(to right, #1e5799 0%,#657d9b 0%,#526b80 19%,#526b80 48%,#526b80 74%,#657d9b 100%)
}


.grid-1-1{
    width:99%;
}

.grid-2-1{
    width:99%;
    /*margin: 3px 3px 4px 1px;*/
}

@media (min-width: 768px) {


}

@media (min-width: 992px) {

    .grid-1-1{
        width:49%;
    }

    .grid-2-1{
        width:99%;
        /*margin: 3px 3px 4px 1px;*/
    }

}

@media (min-width: 1200px) {


}

@media (min-width: 1600px) {

    .grid-1-1{
        width:32%;
    }

    .grid-2-1{
        width:64%;
        /*margin: 3px 3px 4px 1px;*/
    }

}


#grid_container{
    display: block;
}

#grid{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none; 
}


    .grid_container{
        margin: 3px 3px 3px 0; 
        padding: 1px; 
        float: left; 
        /*width: 500px; */
        /*width:30%;*/
        height: 400px; 
        font-size: 4em; 
        text-align: center; 
        border: solid 2px black;
    }
        .grid_container>div{
            height: 100%;
        }

    #info{
        height:100%;
        background-color: rgba(200,200,200,0.5);
    }

    #loading{
        position:relative;
        left:45%;
        top: 200px;

        height: 500px; 
        width: 100%;
        display:inline-block;
    }

    #map, #loading { 
        /*height: 400px; */
        /*width: 1000px;*/
        height: 100%;
        width: 100%;
        display:inline-block;
    }


        .legend {
            width: 100px;
            line-height: 20px;
            color: #555;
        }
        .legend i {
            width: 20px;
            height: 15px;
            float: left;
            margin-right: 8px;
            opacity: 0.7;
        }


        .info {
            padding: 6px 8px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            background: white;
            background: rgba(255,255,255,0.8);
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            border-radius: 5px;
        }
        .info h4 {
            margin: 0 0 5px;
            color: #777;
        }


        .geocode-cluster{
            background: #9FE5F8;background:rgba(159, 229, 248, 0.5);border:1px solid black;border:1px solid rgba(0, 0, 0, 0.5);border-radius:50%;
        }
        .geocode-cluster div{
            text-align:center;line-height:0%;position:relative;top:50%;
        }


        .leaflet-top,
        .leaflet-bottom {
        z-index: 499;
        }


#options_container{
    display:block;
    clear:both;
    padding: 10px;
}

    #options{
        /*width:1000px;*/
        width: 90%;
        padding-top: 15px;
        background-color: rgba(155,155,155,0.8);
        text-align: center;
        margin-left: 5%;

    /*    margin-left: auto;
        margin-right: auto;*/
    }

        #menu{
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }

            .row {
                margin-bottom: 20px;
            }

                .row .row {
                    margin-top: 10px;
                    margin-bottom: 0;
                }

                [class*="col-"] {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    background-color: #eee;
                    background-color: rgba(86,61,124,.15);
                    border: 1px solid #ddd;
                    border: 1px solid rgba(86,61,124,.2);
                }


                .temp{
                    font-style: italic;
                }

                #ndvi{
                    font-weight: bold;
                }


    #slider_container{
        width: 90%;
        height: 50px;
        position: relative;
        text-align: center;
        margin-left:auto;
        margin-right: auto;
    }

        .slider_sub{
            /*width:850px;*/
            margin: auto;
        }

        #slider_top{}
            #slider{}

        #slider_bot{}
            #slider_bot span { position:absolute; top: 20px; }
            #slider_min { left: 0%; }
            #slider_max { right: 0%;}
            #slider_value { left: 45%;}




.overlay_button{
    width: 25px;
    height: 25px;
    background: rgba(255,0,0,0.9);
    position: absolute;
    bottom: 5px;
    left: 5px;
    z-index: 5;
}

.overlay_button:hover{
    background: rgba(0,0,255,0.9);
}


#overlay{
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    position: fixed;
    top:0%;
    left:0%;
    z-index: 999;
}

.overlay_active{
    display: block;
}

.overlay_content{
    text-align: center;
    width:75%;
    height: 75%;
    z-index: 1000;
    position: fixed;
    top:12.5%;
    left:12.5%;
}



#container {
    margin:10px 12.5%;
    border:2px solid #000;
    border-radius: 5px;
    width:75%;  
    overflow:hidden;
    background: #F0F8FF;
}

.mmcountry {
  fill: #dfdfdf;
  stroke: #d4d4cd;
  stroke-width: .5px;
  stroke-linejoin: round; }

.countrySelected {
  fill: #83A41C; }

.countrySelected:hover {
  fill: #0000FF;
  stroke: #000000;
  stroke-width: 1;
  stroke-linejoin: round; }
