/*
    #071A2C; rgb(7,26,44); dark-blue
    #83A41C; rgb(131,164,28); country-green

    #586C80; rgb(88,108,128); blue-grey
    #D5E2EE; rgb(213,226,238); light-blue-grey
    #A1B224; rgb(161,178,36);  green-olive
    #F6FFB4; rgb(246,255,180); white-tan
    #CC4C43; rgb(204,76,67);  red
    #B28B88; rgb(178,139,136); light-red
*/ 

body {
    /*min-width: 700px;*/
    /*width:100%;*/
    /*height:100%;*/
    padding-bottom: 100px;
    color: white;
    /*background: linear-gradient(to right, #1e5799 0%,#657d9b 0%,#526b80 19%,#526b80 48%,#526b80 74%,#657d9b 100%);*/
    background: linear-gradient(to right, rgba(88,108,128,0.85), rgba(88,108,128,1), rgba(88,108,128,1), rgba(88,108,128,1), rgba(88,108,128,0.85));
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'Open Sans', sans-serif;

}

a, a:hover, a:active, a:focus, a:visited, select{
    outline: 0;
    outline: none;
    outline-style: none;
    text-decoration: none;
    /*color: black;*/
}

a:hover{
    /*color:rgb(0,255,255);*/ 
}

/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

#intro_form_container,#intro_tabs_container, #intro_carousel_container{
    /*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJ0lEQVQImU3IsQ0AMAzDsPx/mb/gKe5QBMiggRp0S9K5wB8LdC7QB4P7OK2+qh5xAAAAAElFTkSuQmCC) repeat;*/
    /*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKUlEQVQImWO4f//+fxhml9T5z4DMuX//PkQAxrl///5/BmTO/fv3/wMAaOAwfYoDF7QAAAAASUVORK5CYII=) repeat;*/
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJ0lEQVQImWOIyGn4D8NskjpnGJA5ETkN/xmQORE5Df8ZkDkROQ3/AR6AH4GEIyRxAAAAAElFTkSuQmCC) repeat;
    /*background: rgba(223,223,223,1);*/
}


#intro_form, #intro_map, #intro_tabs, #intro_carousel{
    width: 70%;
    margin: 0px 15%;
    color:black;
}

#intro_map{
    width: 70%;
    margin: 0px 15%;
}

/* -------------------------------------------------- */

    #intro_form{}

    .form {
        width: 100%;
        /*margin: 0;*/
        padding: 10px;

        text-align: left;
        color: rgb(255,255,255);
        /*font-family: Arial, Helvetica, sans-serif;*/
        font-family: 'Oswald', sans-serif;
        font-size: 2.1em;
        line-height: 2.1;
    }

    .form select {
        border: 1px solid black;
        border-radius: 5px;
        background: rgba(155,155,155,1);
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        display: inline-block;
        padding: 0;
        padding-left: 5px;
        margin: 0;

        display: inline-block;
        color: rgb(255,255,255);
        cursor: pointer;
    }

    /*remove select outline in firefox*/
    select:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #FFF;
    }

    .form .variable {
        color: rgb(255,255,255);
        text-shadow:
            -1px -1px 0 rgb(204,76,67),  
            1px -1px 0 rgb(204,76,67),
            -1px 1px 0 rgb(204,76,67),
            1px 1px 0 rgb(204,76,67);
    }



/* -------------------------------------------------- */

#intro_map_container{
    background: white;
}

    #intro_map {
        /*margin:0;*/
        /*width: 1000px;*/
        overflow:hidden;
        /*background: #FFFFFF;*/
        position:relative;
        /*border:2px solid #000;*/
        /*border-radius: 5px;*/
       /* -webkit-box-shadow: 0 0 10px rgb(161,178,36);;
        -moz-box-shadow: 0 0 10px rgb(161,178,36);;
        box-shadow: 0 0 10px rgb(161,178,36);;*/

    }

    .map_country {
        fill: #dfdfdf;
        stroke: #d4d4cd;
        stroke-width: .5px;
        stroke-linejoin: round; 
    }

    .map_countrySelected {
        cursor: pointer;
        fill: rgb(246,255,180);/*rgb(131,164,28);*/ 
    }

    .map_countrySelected_hover, .map_countrySelected:hover {
      fill: rgb(131,164,28);/*rgb(0,0,255);*/
      stroke: #000000;
      stroke-width: 1;
      stroke-linejoin: round; 
    }

    .map_info_container{
        position: absolute;
        z-index: 1;
        width: 81px;
        height: 81px;
    }

    .map_info {
        cursor: pointer;
        position:relative;
        float:left;
        width: 100%;
        height: 100%;
        border: 0px solid rgb(131,164,28); /*rgba(19,135,255,1);*/
        /*border-radius: 5px;*/
        /*padding: 2px 10px 2px 2px;*/
        background: rgb(246,255,180);
        /*font-family: 'Open Sans Condensed', sans-serif;*/
        color: black;
        font-size: 1.0em;
        /*line-height: 26px;*/
        border-radius: 50%;
        z-index: 2;
    }

    .map_info_hover, .map_info:hover{
        /*background: rgb(161,178,36);*/
        -moz-box-shadow:    inset 0 0 15px 10px rgb(161,178,36);
        -webkit-box-shadow: inset 0 0 15px 10px rgb(161,178,36);
        box-shadow:         inset 0 0 15px 10px rgb(161,178,36);

    }

        .map_info_hover .map_title a, .map_info:hover .map_title a{
            /*color: rgb(246,255,180);*/
            /*text-shadow: 0px 0px 20px rgb(52,122,25);*/
            color: rgb(246,255,180);
            background: rgb(52,122,25);
            border: 2px solid rgb(52,122,25);
            border-radius:20px;
        }

    .map_title {
        /*font-family: 'Gotham-Bold';*/
        /*text-align: center;*/
        height: 100%;
        width:100%;
        font-size: 14px;
        line-height: 14px;
        font-weight: bold;
        color: rgb(52,122,25); 
        float:left;
        /*clear: both;*/
        z-index: 2;
    }


    .map_title a {
        /*color:black;*/
        color: inherit; 
        position:relative;
        top:35%;
        /*float: left;*/
        left:125%;
        padding:2px 7px;

    }

    .map_image{
        /*float:left;*/
        background-size: contain; 
        /*background-position: center; */
        background-repeat: no-repeat;
        position:absolute; 
    }

    #info_Uganda .map_image{
        background-image: url('../imgs/uganda-outline.png'); 
        width: 75%;
        height: 75%;
        top:10%;
        left:15%;
    }

    #info_Nepal .map_image{
        background-image: url('../imgs/nepal-outline.png'); 
        width:85%;
        height:85%;
        top:25%;
        left:5%;
    }

    #info_Malawi .map_image{
        background-image: url('../imgs/malawi-outline.png'); 
        width: 85%;
        height: 85%;
        top:5%;
        left:35%;
    }

    .map_chart{
        width:80px;
        height:80px;
        float:left;
        position: absolute;
        top:0px;
        left:0px;
        z-index: 1;
    }

        .highcharts-container,
        .highcharts-container svg {
            overflow: visible !important;
        }


    @media (max-width: 1275px){
        .map_info{
            height:0;
            width:0;
            margin-top: 40%;
            background: rgba(0,0,0,0);   
            left: 25px;
        }

        .map_image, .map_chart{
            display:none;
        }

        .map_title a{
            background: rgb(246,255,180);
            border: 2px solid rgb(246,255,180);
            border-radius:20px;
        }

        .map_info_hover, .map_info:hover{
            -moz-box-shadow:    0 0 0 0 rgba(0,0,0,0);
            -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0);
            box-shadow:         0 0 0 0 rgba(0,0,0,0);
        }
    }


/* -------------------------------------------------- */
/*tabs*/
#intro_tabs{} /* USE jcarousel.css*/

/* -------------------------------------------------- */
/*carousel*/
#intro_carousel{} /* USE jcarousel.css*/

/*---------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------*/

#frontpage{
    width: 90%;
    padding-top: 50px;

}

/* -------------------------------------------------- */
/*marketing*/

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* -------------------------------------------------- */
/*featurettes*/

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

@media (min-width: 768px) {

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/* -------------------------------------------------- */
/*content*/

#content{} /* USE grid.css */

/* -------------------------------------------------- 
/*footer*/

#footer{
    min-height:200px;
    background: rgb(7,26,44);
    color: rgb(213,226,238);
    padding-bottom: 110px;
    text-align: center;
}

#footer .row>div{
    padding: 50px;
    height:100px;
}


/* -------------------------------------------------- */
/*navbar*/

#navbar{
    /*margin-top: 100px;*/
    border-top: 2px solid rgb(7,26,44);
}

#navbar_aiddata_logo{
    margin:0 10px;
    padding:0;
}

#navbar_aiddata_logo img{
    height: 50px;
}